header {
  height: 70px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #dddd;
  z-index: 999999;
  padding: 0 10px;
}

.nav-main {
  background-color: white;
  border-bottom: 1px solid #dddd;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
